%script{type:"text/javascript"}
  window.token = '<%= form_authenticity_token %>'
.container
  = link_to "Add Goal", new_goal_path
.container#goals
  - if !@goals.blank?
    %table
      %tr.disappear
        %th
        - 6.downto(0) do |i|
          %th= (Date.today - i).strftime("%m/%d")
      - for goal in @goals
        %tr
          %th
            = goal.name
            %br
            = link_to "edit", edit_goal_path( goal )
          - 6.downto(0) do |i|
            = content_tag :td, class: "goal-available", data: { date: (Date.today - i).to_s, action: ( goal.entries_on_date?( Date.today-i ) ? "delete" : "put" ), goal_id: goal.id, title: goal.name } do
              -if goal.entries_on_date?( Date.today-i )
                %i.icon-ok
              -else
                &nbsp
          %td.disappear
            Checks: 
            =goal.goal_entries.count
            %br
            Current Chain: 
            %br
            Longest Chain: 
            = goal.longest_chain
  -else
    You have no goals. Why not
    = link_to "create", new_goal_path
    one?
  %table
    %tr
      %th
      %th{"ng-repeat"=>"date in dates"} {{ date.getMonth()+1 }}/{{ date.getDate() }}
      %th
    %tr{"ng-repeat"=>"goal in goals"}
      %th {{ goal.name }}
      %td.goal-available{"ng-repeat"=>"date in dates", "ng-bind-html-unsafe" => "goalEntriesForDate( goal, date )", "ng-click"=>"goalEntryClick(goal,date)" }
      %td.disappear
        Checks: {{ checkCount( goal ) }}
        %br
        Current Chain: {{ currentChain( goal ) }}
        %br
        Longest Chain: {{ longestChain( goal ) }}
  = link_to "Archived Goals", archived_goals_path